.circle-container{
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.floor{
  align-items: center;
  border: 3px solid black;
  width: 500px;
  height: 500px;
  align-items: center;
 display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 5%;
}

ol {
  padding: 20px;
  list-style: none;
  flex-direction: row;
  display: inline-flex;
}
ol li {
  display: inline;
  margin: 0 10px;
  padding: 0 10px;
}

h1{
  justify-content: center;
  display: flex;
}

.selectable-items{
  justify-content: center;
  display: flex;
}